BODY
   {
   text-align:justify;
   }

	.copyright {
		font-family: Verdana, Arial;
		font-size: 10px;
		color: #999999;
		text-decoration: none
	}
	.title1{
		font-family: sans-serif;
		font-size: 18px;
		color: #E87D0D;
		text-decoration: none;
		font-weight : bold;
		text-align : center;
		line-height : 30px;
	}
	.title2{
		font-family: sans-serif;
		font-size: 18px;
		color: #0033AB;
		text-decoration: none;
		font-weight : bold;
		text-align : center;
		line-height : 30px;
	}
	.maintext{
		font-family: sans-serif;
		font-size: 12px;
		color: Black;
		text-decoration: none;
		font-weight : normal;
		text-align : justify;
		line-height : 15px;
	}
	.error{
		font-family: sans-serif;
		font-size: 12px;
		color: Red;
		text-decoration: none;
		font-weight : normal;
		text-align : justify;
		line-height : 15px;
	}
	.promotext{
		font-family: sans-serif;
		font-size: 12px;
		color: Black;
		text-decoration: none;
		font-weight : normal;
		text-align : justify;
		line-height : 15px;
	}
	a.promotext:hover{
		font-family: sans-serif;
		font-size: 12px;
		color: #0033AB;
		text-decoration: none;
		font-weight : normal;
		text-align : justify;
		line-height : 15px;
	}
	a.promotext2{
		font-family: sans-serif;
		font-size: 12px;
		color: #0033AB;
		text-decoration: none;
		font-weight : normal;
		text-align : left;
		line-height : 15px;
	}
	a.promotext2:hover{
		font-family: sans-serif;
		font-size: 12px;
		color: #E87D0D;
		text-decoration: none;
		font-weight : normal;
		text-align : left;
		line-height : 15px;
	}
	a.toptext{
		font-family: sans-serif;
		font-size: 10px;
		color: #0033AB;
		text-decoration: none;
		font-weight : normal;
		text-align : left;
		line-height : 10px;
	}
	a.toptext:hover{
		font-family: sans-serif;
		font-size: 10px;
		color: #E87D0D;
		text-decoration: none;
		font-weight : normal;
		text-align : left;
		line-height : 10px;
	}
	.news{
		font-family: sans-serif;
		font-size: 18px;
		color: #0033AB;
		text-decoration: none;
		font-weight : bold;
		text-align : left;
		line-height : 30px;
	}
	.date{
		font-family: sans-serif;
		font-size: 12px;
		color: Black;
		text-decoration: none;
		font-weight : bold;
		text-align : left;
	}
.ffRequiredFlag
{
    FONT-FAMILY: "Verdana","Arial","Helvetica","Sans-serif";
    FONT-SIZE: 10px;
    COLOR: #FF6600;
}
.ffField
{
    BACKGROUND-COLOR: #F4F7FF;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: "Verdana","Arial","Helvetica","Sans-serif";
    FONT-SIZE: 11px;
	width:100%;
}
.ffField2
{
    BACKGROUND-COLOR: #F4F7FF;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: "Verdana","Arial","Helvetica","Sans-serif";
    FONT-SIZE: 11px;
	width:50%;
}
.ffField3
{
    BACKGROUND-COLOR: #F4F7FF;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: "Verdana","Arial","Helvetica","Sans-serif";
    FONT-SIZE: 11px;
}
.tabledata{
		background-color:#D1DFFF;
		text-align : center;
		font-size : 14px;
		font-family : sans-serif;
		color : Black;
		font-weight : normal;	
		text-decoration : none;
	}
a.tabledata{
		background-color:#D1DFFF;
		text-align : center;
		font-size : 14px;
		font-family : sans-serif;
		color : Black;
		font-weight : normal;	
		text-decoration : none;
	}
a.tabledata:hover{
		background-color: #D1DFFF;
		text-align : center;
		font-size : 14px;
		font-family : sans-serif;
		color : #E87D0D;
		font-weight : normal;
		text-decoration : none;
	}
.tabletableheader {
		background-color:#CAD3E9;
		text-align : center;
		font-size : 14px;
		font-family : sans-serif;
		color : Black;
		font-weight : normal;
	}
.featuresheader {
	color: #000000;
	font-size: 12;
	font-weight: bold;
	text-align: center;
	background-color: #FAB46A;
}
.featuressubheader {
	color: #000000;
	font-size: 10;
	font-weight: bold;
	text-align: center;
	background-color: #FBE6D1;
}
.top {
	color: #000000;
	font-size: 6;
	font-weight: bold;
	text-align: center;
	background-color: #FBE6D1;
}
.featuresbody {
	color: #000000;
	font-size: 12;
	font-weight: normal;
	text-align: justify;
	vertical-align: center;
	background-color: #FFD7AC;
}
	
