<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:adsapient.properties</value>
        </property>
    </bean>

    <!--order does matter!, if we don't install tables in hypersonicdao, we can't
    setup ModelUpdater-->
    <import resource="sharedcontext/applicationContext-dao.xml"/>
    <import resource="sharedcontext/applicationContext-database.xml"/>
    <import resource="sharedcontext/applicationContext-services.xml"/>

    <import resource="adservercontext/applicationContext-requestprocessors.xml"/>
    <import resource="adservercontext/applicationContext-reporter.xml"/>
    <import resource="adservercontext/applicationContext-adserver.xml"/>



    
</beans>