<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>${db.driver}</value>
        </property>
        <property name="url">
            <value>${db.url}</value>
        </property>
        <property name="username">
            <value>${db.username}</value>
        </property>
        <property name="password">
            <value>${db.password}</value>
        </property>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
            >
        <property name="mappingResources">
            <list>
                <value>mapping/UserImpl.hbm.xml</value>
                <value>mapping/Campain.hbm.xml</value>
                <value>mapping/City.hbm.xml</value>
                <value>mapping/Country.hbm.xml</value>
                <value>mapping/Site.hbm.xml</value>
                <value>mapping/Banner.hbm.xml</value>
                <value>mapping/Size.hbm.xml</value>
                <value>mapping/Type.hbm.xml</value>
                <value>mapping/Categorys.hbm.xml</value>
                <value>mapping/Place.hbm.xml</value>
                <value>mapping/Places.hbm.xml</value>
                <value>mapping/BannerState.hbm.xml</value>
                <value>mapping/CampainState.hbm.xml</value>
                <value>mapping/Statistic.hbm.xml</value>
                <value>mapping/TimeFilter.hbm.xml</value>
                <value>mapping/DateFilter.hbm.xml</value>
                <value>mapping/ReservedSites.hbm.xml</value>
                <value>mapping/Actions.hbm.xml</value>
                <value>mapping/Money.hbm.xml</value>
                <value>mapping/FiltersTemplate.hbm.xml</value>
                <value>mapping/GeoFilter.hbm.xml</value>
                <value>mapping/TrafficFilter.hbm.xml</value>
                <value>mapping/ContentFilter.hbm.xml</value>
                <value>mapping/UniqueUser.hbm.xml</value>
                <value>mapping/ClickImpl.hbm.xml</value>
                <value>mapping/UserDefineCampainStates.hbm.xml</value>
                <value>mapping/Options.hbm.xml</value>
                <value>mapping/AccountSetting.hbm.xml</value>
                <value>mapping/Financial.hbm.xml</value>
                <value>mapping/Rate.hbm.xml</value>
                <value>mapping/SystemFilter.hbm.xml</value>
                <value>mapping/ContextFilter.hbm.xml</value>
                <value>mapping/Roles.hbm.xml</value>
                <value>mapping/ApplicationOptions.hbm.xml</value>
                <value>mapping/TargetingSettings.hbm.xml</value>
                <value>mapping/Resource.hbm.xml</value>
                <value>mapping/Sale.hbm.xml</value>
                <value>mapping/Lead.hbm.xml</value>
                <value>mapping/KeywordsFilter.hbm.xml</value>
                <value>mapping/KeywordsFilterElement.hbm.xml</value>
                <value>mapping/StatisticSaver.hbm.xml</value>
                <value>mapping/Parameter.hbm.xml</value>
                <value>mapping/ParameterFilter.hbm.xml</value>
                <value>mapping/DynamicParameter.hbm.xml</value>
                <value>mapping/SystemsFilter.hbm.xml</value>
                <value>mapping/ReferrersElement.hbm.xml</value>
                <value>mapping/Billing.hbm.xml</value>
                <value>mapping/Currency.hbm.xml</value>
                <value>mapping/Install.hbm.xml</value>
                <value>mapping/BehaviorPattern.hbm.xml</value>
                <value>mapping/BehaviorFilter.hbm.xml</value>
                <value>mapping/Plugin.hbm.xml</value>
                <value>mapping/TotalsReport.hbm.xml</value>
                <value>mapping/SystemSettings.hbm.xml</value>
                <value>mapping/ResourceType.hbm.xml</value>
                <value>mapping/KeywordsRealtime.hbm.xml</value>
            </list>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
                <prop key="show_sql">${show_sql}</prop>
            </props>
        </property>
    </bean>


    <bean id="hibernateTemplate"
          class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>


    <bean id="hibernateInterceptor"
          class="org.springframework.orm.hibernate3.HibernateInterceptor">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>

    </bean>


    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
</beans>