<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">


<log4j:configuration>
    <appender name="default" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--  <param name="ConversionPattern"
        value="%-5p T=&quot;%t&quot; X=&quot;%X{NID},%X{SID},%X{CLIP},%X{CID},%X{UID}&quot; %c{1}: %m%n"/>-->
            <param name="ConversionPattern"
                   value="[%d{ISO8601}] %-5p T=&quot;%t&quot; X=&quot;%X{NID},%X{SID},%X{CLIP},%X{CID},%X{UID}&quot; %c{1}: %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="AcceptOnMatch" value="true"/>
            <param name="LevelMin" value="debug"/>
            <param name="LevelMax" value="fatal"/>
        </filter>
    </appender>

    <appender name="adsapient" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/ui-log.txt"/>
        <param name="Append" value="true"/>
        <!--<param name="DatePattern" value="'.'yyyy-MM-dd"/>-->
        <param name="MaxFileSize" value="1000KB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{ISO8601}] %-5p T=&quot;%t&quot; X=&quot;%X{NID},%X{SID},%X{CLIP},%X{CID},%X{UID}&quot; %c{1}: %m%n"/>
        </layout>
         <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="AcceptOnMatch" value="true"/>
            <param name="LevelMin" value="info"/>
            <param name="LevelMax" value="fatal"/>
        </filter>
    </appender>

    <category name="org">
        <priority value="error"/>
    </category>

    <category name="net">
        <priority value="error"/>
    </category>

    <category name="com">
        <priority value="error"/>
    </category>

    <category name="com.adsapient">
        <priority value="debug"/>
    </category>

    <!--otherwise on linux with firewall throws non-important but worrying error message about not being able to bind on localhost-->
    <category name="net.sf.ehcache.Cache">
        <priority value="fatal"/>
    </category>



    <root>
        <priority value="debug"/>
        <appender-ref ref="default"/>
        <appender-ref ref="adsapient"/>
    </root>

</log4j:configuration>
