<script
        language="JavaScript"
        type="text/javascript">
    document.writeln('<SC'+'RIPT language=JavaScript type=text/javascript>');
    document.writeln("open('{adserverlocation}/{appcontextpath}/{adserverservlet}?{keyvalueparams}','{targetwindow}','toolbar={toolbar},scrollbars={scrollbars},location={location},statusbar={statusbar},menubar={menubar},resizable={resizable},width="{width}",height="{height}",left={left},top={top}');");
    document.writeln('focus();');
    document.writeln('</SC'+'RIPT>');</script>