<script language="JavaScript" type="text/javascript">
    var rnd = Math.round(Math.random() * 10000000);
    document.writeln('<SC'+'RIPT language=JavaScript type=text/javascript>');
    document.writeln('var fun'+rnd+' = window.onload;');
    document.writeln('window.onload = ads_fun'+rnd+';');
    document.writeln('function ads_fun'+rnd+'() {');
    document.writeln("open('{adserverlocation}/{appcontextpath}/{adserverservlet}?{keyvalueparams}','{targetwindow}','toolbar={toolbar},scrollbars={scrollbars},location={location},statusbar={statusbar},menubar={menubar},resizable={resizable},width="{width}",height="{height}",left={left},top={top}');");
    {uporunder}
    document.writeln('if (fun'+rnd+') fun'+rnd+'();}');
    document.writeln('</SC'+'RIPT>');</script>