<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean name="adserverModel"
          class="com.adsapient.adserver.beans.AdserverModel"
          autowire="byType"
          singleton="true">
    </bean>
    <bean name="adserverModelBuilder"
          class="com.adsapient.adserver.AdserverModelBuilder"
          autowire="byType"
          singleton="true">
    </bean>
    <bean name="modelUpdater"
          class="com.adsapient.adserver.ModelUpdater"
          autowire="byType"
          singleton="true"
          init-method="setup">
    </bean>
    <bean name="reporterUpdater"
          class="com.adsapient.adserver.ReporterUpdater"
          autowire="byType"
          singleton="true"
          init-method="setup">

        <property name="reporterDbUrl">
            <value>${reporter.reporterDbUrl}</value>
        </property>
        <property name="username">
            <value>${reporter.username}</value>
        </property>
        <property name="password">
            <value>${reporter.password}</value>
        </property>
        <property name="dbDriver">
            <value>${db.driver}</value>
        </property>

        <property name="guiDbUrl">
            <value>${db.url}</value>
        </property>
        <property name="guiUsername">
            <value>${db.username}</value>
        </property>
        <property name="guiPassword">
            <value>${db.password}</value>
        </property>
        <property name="guiDbDriver">
            <value>${db.driver}</value>
        </property>
        <property name="beanService">
            <ref bean="beanService"/>
        </property>
    </bean>
    <bean name="adserverDecisionProvider"
          class="com.adsapient.adserver.AdserverDecisionProvider"
          autowire="byType"
          singleton="true">
    </bean>
    <bean name="ipToCountryMapping"
        class="com.adsapient.adserver.beans.IpToCountryMappingBean"
        autowire="byType"
        singleton="true"
        init-method="setup">
        <property name="databaseHome">
            <value>${ip2countryMapping.ipDatabaseHome}</value>
        </property>              
    </bean>
</beans>
