BODY {
	background-color : #f7f7f7;
	background-image : url(images/background.gif);
	background-position : top;
	background-repeat : repeat-x;
	font-family : "Trebuchet MS";
	margin : 0;
}


.main_table{
	width : 100%;
	height : 100%;
	padding : 0;
}
.main_table_top{
	width : 100%;
	height : 105px;
	padding : 0;
}
.main_table_top_links{
	width : 100%;
	height : 29px;
	background-repeat : repeat-x;
	background-image : url(images/links_top.gif);
	padding : 0;
}
.main_tavle_screen{
	width : 100%;
	height : 100%;
	padding : 0;
}
.main_table_bottom_links{
	width : 100%;
	height : 29px;
	background-repeat : repeat-x;
	background-image : url(images/links_bottom.gif);
	padding : 0;
}
.main_table_bottom{
	width : 100%;
	height : 80px;
	background-color : transparent;
	padding : 0;
}
.table_center{
	width : 780px;
	height: 105px;
	background-image : url(images/logo.gif);
	background-position : left;
	background-repeat : no-repeat;
	padding : 0;
}
.table_center_links{
	width : 780px;
	height: 29px;
	font-size : 11px;
	padding : 0;
}
.links_text{
	color : White;
}
A, A:ACTIVE, A:VISITED, A:LINK {
	text-decoration : none;
}
A:HOVER, A:FOCUS {
	text-decoration : underline;
}
table_center_bottom{
	color : #373737;
	width : 780px;
	height : 80px;
	padding : 0;
}
.table_center_bottom_text {
	font-size : 11px;
	text-align : right;
}
.bottom_text{
	color : #373737;
	font-weight : bold;
}
.table_center_screen{
	width : 780px;
	padding : 0;
}
.hot_ad{
	width : 780px;
	height : 230px;
	padding : 0;
}
.hot_ad_network_logo{
	height : 50px;
	width : 370px;
	background-repeat : no-repeat;
	background-position : top;
	background-image : url(images/adnetwork.gif);
}
.adnetwork_text{
	font-family : "Trebuchet MS";
	font-size : 8pt;
	color : #0a3e65;
}
.hot_ad_banner_logo{
	height : 50px;
	width : 370px;
	background-repeat : no-repeat;
	background-position : top;
	background-image : url(images/adbanner.gif);
}
.news{
	font-size : 11px;
	background-image : url(images/news.gif);
	background-position : top left;
	background-repeat : no-repeat;
	padding-top : 35px;
	padding-bottom : 15px;
}
.about{
	font-size : 11px;
	background-position : top right;
	background-repeat : no-repeat;
	padding-top : 35px;
	padding-bottom : 15px;
	background-image : url(images/about.gif);
	color : #3c82b7;
}
.etc{
	font-size : 11px;
	padding-top : 35px;
	color : #3c82b7;
	padding-bottom : 30px;
}
.links{
	color : #274F70;
	font-size : 11px;
	font-weight : bold;
}
.products_text{
	font-size : 12px;
	padding-top : 15px;
	padding-bottom : 15px;
}
.menu_top{
	width : 215px;
	height : 22px;
	background-image : url(images/menu_top.gif);
	background-position : bottom;
	background-repeat : no-repeat;
}
.menu_middle{
	background-color : #3b81b7;
	font-size : 11px;
	color : #EFF4FA;
	padding-left : 20px;
	padding-right : 10px;
	text-align : left;
}
.menu_bottom{
	width : 215px;
	height : 22px;
	background-image : url(images/menu_bottom.gif);
	background-position : bottom;
	background-repeat : no-repeat;
}
.links_text2{
	color : #B6CDE9;
	font-size : 11px;
}
.input_form{
	background-color : #DEE9F5;
	border : 1pt solid #132840;
	font-size : 12px;
}
.forma{
		font-size : 12px;
}
.forma_main{
	background-color : #FAFCFE;
	border : 1pt solid #1066BC;
}
.forma1{
	background-color : #E7F0FA;
}
.forma2{
	background-color : #D7E7F7;
}
.highlight{
	color : Red;
}
.feat_table{
	background-color : #5586B7;
}
.featuresheader{
	background-color : #3D658D;
	color : #F7F9FB;
	font-weight : bold;
	font-size : 12px;
}
.featuressubheader{
	background-color : #305070;
	color : #E1E9F0;
	font-weight : bold;
	font-size : 10px;
}
.featuresbody{
	background-color : #F1F4F8;
	color : #305070;
	font-size : 11px;
}
.toptext{
	color : #FED943;
	font-weight : bold;
	font-size : 15px;
	text-decoration : underline;
}